anyio==3.7.1
blinker==1.6.2
certifi==2023.5.7
click==8.1.5
colorama==0.4.6
exceptiongroup==1.1.2
Flask==2.1.3
Flask-WTF==1.1.1
h11==0.14.0
httpcore==0.17.3
idna==3.4
is-disposable-email==1.0.0
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.3
pdfkit==1.0.0
python-dateutil==2.8.2
pytz==2023.3
six==1.16.0
sniffio==1.3.0
tzdata==2023.3
gunicorn==19.7.1
calc==1.0 
nodejs==0.1.1